* {
    font-size: 12px;
}

* * {
    font-size: 10px;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    margin: 0 10px;
    text-align: justify;
}

hr {
    height: 2px;
    margin: 20px 0 15px 0;
    background: darkred;
    border-width: 0;
}

input {
    padding: 4px;
    background: #fff url(images/input_bg.gif) bottom repeat-x;
    border: 1px solid #8b0000;
    border-bottom: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
    font: 12px Lucida Sans Unicode, Trebuchet MS, Sans;
    color: #222;
}

input:focus {
    border-top: 1px solid #757a82;
    border-bottom: 1px solid #b0b5bd;
    font-weight: bold
}

input.button {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 5px;
    background: #fff url(images/button_bg.gif) bottom repeat-x;
    border: 1px solid #fff;
    font: 12px verdana;
    font-weight: bold;
    text-align: center;
    color: #222;
    cursor: pointer;
}

input.button:hover {
    background: #222 url(images/button_bg_hover.gif) top repeat-x;
}

label {
    font: 1.2em verdana;
    font-weight: bold;
    color: #7c7c7c;
}

textarea {
    width: 97%;
    margin-top: .5em;
    padding: .6em;
    background: url(images/input_bg.gif) bottom repeat-x;
    border: 1px solid #b0b5bd;
    border-bottom: 1px solid #757a82;
    font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans;
    color: #222;
}

textarea:focus {
    border-top: 1px solid #757a82;
    border-bottom: 1px solid #b0b5bd;
    font-weight: bold;
}

form.h input {
    float: left;
    width: 55%;
    margin-bottom: .5em;
}

form.h label {
    float: left;
    width: 40%;
}

form.h .button_wrapper {
    margin-top: 1em;
}


/*LAYOUT*/

#container {
    width: 772px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 .4em 0 .4em;
    background: #693c57;
    border-right: 1px solid #905c73;
    border-left: 1px solid #905c77;
}

#scene {
    position: relative;
    width: 77em;
    height: 16.8em;
    margin-bottom: .4em;
    border: 1px solid #805160;
    border-top-width: 0;
}

#scene img {
    width: 77em;
    height: 16.8em;
}

#scene h1 {
    position: absolute;
    top: .9em;
    left: 1.2em;
    font: 4.8em Lucida Sans Unicode, Trebuchet MS, Sans;
    color: #fff;
}

#menu {
    position: absolute;
    right: 2em;
    bottom: 0;
}

#menu .holder {
    float: left;
    height: 2.4em;
    margin-right: .3em;
    background: #413e3e url(images/menu_holder_bg.gif) top repeat-x;
    border: 1px solid #00040b;
    border-bottom-width: 0;
}

#menu .holder a {
    display: block;
    width: 8.4em;
    margin: 1px 1px 0;
    background: #181717 url(images/menu_bg.gif) top repeat-x;
    font: 1em Verdana;
    line-height: 2.3em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#menu .holder a:hover {
    background: #b3b0b0 url(images/menu_bg_hover.gif) top repeat-x;
}

#content {
    background: #fff;
    border-top: 1px solid #776f6f;
}

#col_left {
    float: left;
    width: 50.1em;
    padding: 2em;
    background: #fff;
    border-right: .1em solid #ddd;
}

.post .meta {
    padding-bottom: .1em;
    border-bottom: 1px solid #f0f0f0;
}

.meta .title {
    float: left;
    font: 24px Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 20px;
    font-weight: bold;
    text-indent: 10px;
    text-decoration: none;
    color: #f10101;
}

.meta .comments {
    float: right;
    padding: .4em;
    background: #f8f8f8 url(images/comment_bubble.gif) .4em center no-repeat;
    border: 1px solid #ececec;
    font: 1em verdana;
    font-weight: bold;
    text-indent: 1.6em;
    color: #868686;
}

.body a {
    color: #8b0000;
}

.body a:hover {
    color: #222;
}

.body a:visited {
    color: #a44e4e;
}

.body blockquote {
    padding: 5px;
    background: #f6f6f6;
    border-top: 1px dotted #222;
    border-bottom: 1px dotted #222;
    font: 1em Lucida Sans Unicode, Trebuchet MS, Sans;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle:nth-of-type(2n) {
    float: left;
    margin-right: 15px;
}

.circle:nth-of-type(2n+1) {
    float: right;
    margin-left: 15px;
}

#first {
    background-image: url("./images/finki.jpg");
}

#second {
    background-image: url("./images/orce.jpg");
}

span.circle {
    background-image: url("./images/csj.jpg");
}

div.circle {
    background-image: url("./images/semos.jpg");
}

.body h1 {
    font: 1.6em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 2em;
    font-weight: bold;
    color: #8b0000;
}

.body h2 {
    font: 1.4em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 2em;
    font-weight: bold;
    color: #8b2828;
}

.body h3 {
    font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 2em;
    font-weight: bold;
    color: #8b4a4a;
}

.body p {
    margin: .5em 0 .5em 0;
    font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 1.5em;
    color: #7e7e7e;
}

.comments h2 {
    margin-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;
    font: 1.8em verdana;
    line-height: 2.2em;
    color: #656565;
}

.comment {
    margin-top: .2em;
    padding: .9em;
    background: #faeded;
    border: 1px solid #dfdfdf;
    text-align: justify;
}

.comment.alt {
    background: #fafafa;
}

.comment .meta {
    margin-bottom: .8em;
    padding-bottom: 0;
    border-bottom-width: 0;
}

.comment .meta span {
    float: left;
}

.comment .meta span a {
    font: 1.3em verdana;
    font-weight: bold;
    text-decoration: none;
    color: #b44a4a;
}

.comment .meta span a:hover {
    text-decoration: underline;
    color: #a44e4e;
}

.comment .meta span a:visited {
    color: #28883a;
}

.comment .meta span small {
    font: 1em verdana;
    font-weight: bold;
    color: #666;
}

.comment .meta .datetime {
    float: right;
    font: .9em verdana;
    color: #b45b4a;
}

.comment p {
    font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 1.5em;
    color: #5e5e5e;
}

.comment a {
    font-size: 1em;
    color: #b44a4a;
}

.comment a:hover {
    color: #a44e4e;
}

.comment a:visited {
    color: #8b0000;
}

#col_right {
    float: right;
    width: 23em;
    background: #ecf1f9;
}

#sidebar {
    padding: 1em 1em 1em 1em;
    background: #f9ecec;
    border-top: 1px solid #fff;
    border-left: 1px solid #ffffff;
}

#sidebar h2 {
    font: 1.8em verdana;
    line-height: 15px;
    color: #656565;
}

#sidebar ul {
    border-top: 1px solid #e5e5e5;
    list-style-position: inside;
    list-style-type: none;
}

#sidebar ul li {
    border-bottom: 1px solid #e5e5e5;
    margin-left: -40px;
}

#sidebar ul li a {
    display: block;
    font: 1.1em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 2em;
    text-decoration: none;
    color: #5d5d5d;
}

#sidebar ul li a:hover {
    background: #f1cece;
}

#footer {
    padding: 2em 1em 2em 1em;
    background: #210f0f url(images/footer_bg.gif) bottom repeat-x;
}

#footer_left {
    float: left;
    width: 50.5em;
}

#footer_right {
    float: right;
    width: 23.6em;
}

#footer .header {
    border-top: 1px solid #441f1f;
    border-bottom: 1px solid #441f1f;
}

#footer h3 {
    margin: .1em 0 .1em 0;
    padding-left: .5em;
    background: #441f1f;
    font: 1em verdana;
    line-height: 1.6em;
    font-weight: bold;
    color: #fff;
}

#footer ul {
    margin-top: 2em;
    background: url(images/footer_li_trim.gif) top repeat-x;
    list-style-position: inside;
    list-style-type: none;
}

#footer ul li {
    background: url(images/footer_li_trim.gif) bottom repeat-x;
}

#footer ul li a {
    display: block;
    padding-left: 2em;
    background: url(images/bullet.gif) .5em center no-repeat;
    font: 1.1em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
}

#footer ul li:hover {
    background: #5f2c2c;
}

#footer p {
    margin-top: 1.6em;
    font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans;
    line-height: 1.5em;
    color: #fff;
}

#footer .credit {
    text-align: center;
}

#footer .credit a {
    color: #fff;
    text-decoration: none;
}

#footer .credit a:hover {
    text-decoration: underline;
}


/*WIDTHS*/

.s49 {
    width: 49%;
    padding-left: 0;
}


/*CLASSES*/

.button_wrapper {
    width: 15em;
    border: 1px solid #bfbfbf;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.underline {
    text-decoration: underline;
}

.grow {
    padding: 5px 5px 5px 5px;
    height: 30px;
    margin: 5px 1% 5px 1%;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
}

.grow:hover {
    height: 330px;
}

.grow img{
    border-radius: 50%;
    padding: 5px;
    border: dimgray dotted 2px;
    alignment: center;
}